- var CONSTANTS = require("../../constants/index.json");

footer.footer
    .footer__content
        .footer__left
            nav.footer__nav-main(aria-label="По главной странице")
                ul
                    li
                        a(href=`${CONSTANTS.sections.about}`).footer__link.footer__link_inverse О нас
                    li
                        a(href=`${CONSTANTS.sections.scope}`).footer__link.footer__link_inverse Основные функции
                    li
                        a(href=`${CONSTANTS.sections.questions}`).footer__link.footer__link_inverse Ответы на вопросы

            nav.footer__nav-page(aria-label="По внутренним страницам")
                ul
                    li
                        a(href=`${CONSTANTS.pages.agreements}` target="_blank").footer__link Согласие на обработку персональных данных
                    li
                        a(href=`${CONSTANTS.pages.privacyPolicy}` target="_blank").footer__link Политика конфиденциальности

            .footer__year #{CONSTANTS.year}

        .footer__right
            .footer__right-title По всем вопросам и предложениям:
            a(href=`mailto:${CONSTANTS.email}`).footer__link #{CONSTANTS.email}
